.Movie{
  width: 40%;
  min-width: 255px;
  background-color: white;
  display: flex;
  margin-bottom: 50px;
  padding: 0 20px;
  box-shadow: 3px 3px 10px #d0d0d0;
}

.Movie__Column{
  width: 30%;
  box-sizing:border-box;

  text-overflow: ellipsis;
}
.Movie__Column:last-child{
  padding: 20px;
  flex-grow: 2;
  text-overflow:ellipsis;
  width:60%;
}
.Movie__Column img{
  position: relative;
  top: -20px;
  max-width: 100%;
  box-shadow: 10px 15px 10px #d0d0d0;
}

.Movie h1{
  font-size: 20px;
}

.Movie__genres{
  font-size: 14px;
  color: #A6A6A6;
  margin-bottom: 20px;
}

.Movie__summary{
  font-size: 14px;
  color: #A6A6A6;
}

@media screen and (min-width:320px) and (max-width:765px){
    .Movie{
        width:100%;
    }
}

@media screen and (min-width:0px) and (max-width:500px) and (orientation: portrait){
    .Movie{
        width:100%;
        flex-direction: column;
    }
    .Movie__Column img{
        width:100%;
    }
    .Movie__Column{
        width:100%!important;
    }
}
